@import '_variables.scss';
@import '_mixin.scss';

.hero__grid {
	@include grid;
	grid-template-columns: 1fr 1fr;
}


.hero__grid-right {
	@include grid;
	grid-template-areas:
    "works works"
    "works2 works3";
  grid-template-rows: 1fr .8fr;
	grid-template-columns: 0.5fr 0.5fr;
}

#hero__grid-works {
	grid-area: works;
}

#hero__grid-works2 {
	grid-area: works2;
}

#hero__grid-works3 {
	grid-area: works3;
}

.about-grid {
	@include grid;
	grid-template-columns: 0.5fr 0.5fr;
	grid-template-rows: auto;
}

.project-grid {
	@include grid;
	grid-template-columns: repeat(12, 1fr);
}

.project-grid__block {
	grid-column: span 2;
}

.block4, .block5 {
	grid-column: span 6;
}

.block6, .block7 {
	grid-column: span 3;
}

.contacts-grid {
	@include grid;
	grid-template-areas:
    "map form";
	grid-template-columns: 1.45fr 1fr;
}

#map {
	grid-area: map;
}

#form__wrap {
	grid-area: form;
}





